<template lang="pug">
  nav.pagination.is-rounded(role='navigation', aria-label='pagination')
    a.pagination-previous(:href='!!previous ? getLink(start) : undefined' :disabled="!previous")
      span.icon
        i.mdi.mdi-chevron-left.mdi-24px
    a.pagination-next(:href='(!toShowNext && !toShowEnd) ? undefined : getLink(next)' :disabled="!toShowNext && !toShowEnd")
      span.icon
        i.mdi.mdi-chevron-right.mdi-24px
    ul.pagination-list
      li(v-if="toShowStart")
        a.pagination-link(:href="getLink(start)") {{ start }}
      li(v-if="toShowLeftEllipsis")
        span.pagination-ellipsis …
      li(v-if="toShowPrevious")
        a.pagination-link(:href="getLink(previous)") {{ previous }}
      li(v-if="!!current")
        a.pagination-link.is-current(aria-current='1') {{ current }}
      li(v-if="toShowNext")
        a.pagination-link(:href="getLink(next)") {{ next }}
      li(v-if="toShowRightEllipsis")
        span.pagination-ellipsis …
      li(v-if="toShowEnd")
        a.pagination-link(:href="getLink(end)") {{ end }}

</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator'

import { PagingMetaData } from '@/cms'

@Component({})
export default class extends Vue {
  @Prop({ type: Object })
  page!: PagingMetaData

  @Prop({ type: Function })
  getLink!: (next: number) => string

  // target pages
  start: number = 1
  previous: number | undefined = this.page.previous
  current: number | undefined = this.page.index
  next: number = this.page.next || this.page.maximum
  end: number = this.page.maximum

  // flags to hide unnecessary elements
  toShowStart = !this.current || this.start < this.current
  toShowLeftEllipsis = !!this.previous && this.start + 1 < this.previous
  toShowPrevious = !!this.previous && this.start < this.previous
  toShowNext = !!this.next && this.next < this.end
  toShowRightEllipsis = !!this.next && this.next + 1 < this.end
  toShowEnd =
    this.start < this.end &&
    (!this.current || this.current < this.end) &&
    this.next <= this.end
}
</script>
