<template lang="pug">
  div
    .tile.is-ancestor.is-clearfix(
      v-for="posts in postsBy2"
      :key="posts[0].slug"
    )
      .tile.is-parent.is-vertical
        post-card(:post="posts[0]")
      .tile.is-parent.is-vertical
        post-card(:post="posts[1]" v-if="posts[1]")
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator'

import PostCard from '@/components/views/PostCard.vue'
import { BlogPost } from '@/cms'

@Component({
  components: { PostCard }
})
export default class extends Vue {
  @Prop()
  posts!: BlogPost[]

  get postsBy2(): [BlogPost, BlogPost][] {
    const result: any[] = [[]]
    for (const post of this.posts) {
      if (result[result.length - 1].length < 2) {
        result[result.length - 1].push(post)
      } else {
        result.push([post])
      }
    }

    return result as [BlogPost, BlogPost][]
  }
}
</script>
