<template lang="pug">
  footer.footer
    .content.has-text-centered
      p by
        =" "
        a(href='https://twitter.com/tottokotkd') @tottokotkd
        a(href='https://buttercms.com' target='_blank')
          figure.image
            img(src='~/static/butter-y.png')


</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class TheHeaderMenu extends Vue {}
</script>

<style lang="stylus">
  figure.image img
    height 2rem
    width 8rem
</style>
