<template lang="pug">
  nav.navbar.is-spaced.has-shadow(role='navigation', aria-label='main navigation')
    .container
      .navbar-brand
        a.navbar-item(href='/')
          img(
            src='~/static/tottokotkd.jpg'
            width='28'
            height='28'
          )
        a.navbar-burger.burger(
          @click="switchMenu"
          :class="{'is-active': openBurgerMenu }"
          role="button"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        )
          span(aria-hidden="true")
          span(aria-hidden="true")
          span(aria-hidden="true")
      .navbar-menu(:class="{'is-active': openBurgerMenu }")
        .navbar-start(
        @click.stop="switchMenu")
          .navbar-item 電池冷蔵庫
          nuxt-link.navbar-item(to="/") とっぷ
          nuxt-link.navbar-item(to="/posts") ぶろぐ
          nuxt-link.navbar-item(to="/privacy-policy") ぷらいばしー
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class TheHeaderMenu extends Vue {
  openBurgerMenu = false

  switchMenu() {
    this.openBurgerMenu = !this.openBurgerMenu
  }
}
</script>

<style lang="scss">
</style>
