<template lang="pug">
  section
    p ここには特に何もないです

</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class PagesIndex extends Vue {}
</script>

<style lang="scss">
</style>
