<template lang="pug">
  div.content
    h2 プライバシーポリシー
    ul
      li このサイトは利用者の情報を収集するよ
      li データ収集のためにCookie使うよ
      li 具体的にはGoogleアナリティクスだけ使ってるよ (詳しくは
        a(href="https://www.google.com/intl/ja/policies/privacy/partners/") このページ
        | に書いてあるよ)
      li 他のツールは入れていないので、不審な収集機能が動いていたら教えてね
      li 他のツールを入れる時はこのページも更新します

</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class extends Vue {}
</script>

<style lang="scss">
</style>
