<template lang="pug">
  article.tile.is-child.card.is-primary
    .card-content
      .title.is-4
        nuxt-link(:to="link") {{ post.title }}
      .subtitle.is-6 {{ timestamp }}
      p {{ post.summary }}
      .tags
        span.tag(v-for="tag in post.tags" :key="tag.slug") {{ tag.name }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator'
import format from 'date-fns/format'

import { BlogPost, postPath } from '@/cms'

@Component
export default class extends Vue {
  @Prop({ type: Object })
  post!: BlogPost

  get timestamp(): string {
    return format(this.post.created, 'yyyy/MM/dd')
  }

  get link(): string {
    return postPath(this.post)
  }
}
</script>

<style lang="scss" scoped>
article {
  display: flex;
  flex-direction: column;
}
.card-content {
  flex: 1 0 auto;
}

.card-footer {
  flex: 0 0 auto;
}

.tags {
  padding-top: 1rem;
}
</style>
