<template lang="pug">
  div
    the-header-menu
    .section.container
      nuxt
    the-footer
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import TheHeaderMenu from '@/components/binders/TheHeaderMenu.vue'
import TheFooter from '@/components/binders/TheFooter.vue'

@Component({
  components: { TheHeaderMenu, TheFooter }
})
export default class DefaultLayout extends Vue {}
</script>

<style lang="scss" scoped>
.container {
  padding-top: 2rem;
}
</style>
