<template lang="pug">
 p {{ error && error.statusCode }} {{ error && error.message }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator'

interface ErrorInfo {
  statusCode: number
}

@Component({})
export default class ErrorLayout extends Vue {
  @Prop({ type: Object })
  error!: ErrorInfo
}
</script>

<style lang="scss" scoped>
</style>
