<template lang="pug">
  .columns
    .column.is-9
      post-card-board(:posts="posts")
      pagination-selector(:page="page" :getLink="p => p === 1 ? '/posts' : `/posts?p=${p}`").section
    .column
      p ここにサブメニューを作る（つもり）

</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

import PostCardBoard from '@/components/binders/PostCardBoard.vue'
import PaginationSelector from '@/components/binders/PaginationSelector.vue'
import { getBlogPosts } from '@/cms'

interface RouteQuery {
  p: string
}

@Component({
  name: 'posts',
  components: { PostCardBoard, PaginationSelector }
})
export default class PostsPage extends Vue {
  async asyncData(props: { query: RouteQuery }) {
    const p = +props.query.p || 1
    const { page, posts } = await getBlogPosts(p, 10)
    return { posts, page }
  }
}
</script>
