<template lang="pug">
  .columns
    .column.is-9.content
      post-content(:post="post")
    .column
      p ここにサブメニューを作る（つもり）
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

import PostContent from '@/components/views/PostContent.vue'
import { BlogPost, getBlogPost, postPath } from '@/cms'

interface RouteParams {
  year: string
  month: string
  day: string
  slug: string
}

@Component({
  components: { PostContent }
})
export default class extends Vue {
  post!: BlogPost

  head() {
    return {
      title: this.$util.title(this.post.title)
    }
  }
  async asyncData(props: {
    params: RouteParams
    error: any
    redirect: any
    route: any
  }) {
    try {
      const { slug } = props.params
      const post = await getBlogPost(slug)

      const path = postPath(post)
      if (props.route.path !== path) {
        props.redirect(path)
        return
      }

      return { post }
    } catch (e) {
      props.error({ statusCode: 404 })
      return
    }
  }
}
</script>

<style lang="scss">
</style>
